<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="static/css/my-style.css" rel="stylesheet">
	<title>Dettagli buffet</title>
</head>
<body>
	<header><h1>Catering Demo</h1></header>
	<br>
    <h2>Scheda buffet:</h2>
	<br>
	<div class="scatola">
		<h3>Nome:</h3>
		<span th:text="${buffet.nome}">nome</span><br>
		<h3>Descrizione:</h3>
		<span th:text="${buffet.descrizione}">descrizione</span><br>
		<h3>Chef:</h3>
		<a href="chef.html" th:href="@{'/chef' + '/' + ${buffet.chef.getId()} }">
		<span th:text="${buffet.chef.getNome()}">nomeChef</span>&nbsp;<span th:text="${buffet.chef.getCognome()}">cognomChef</span><br>
		</a>
		<h3>Portate:</h3>
		<span>lista delle portate - not yet implemented</span><br>
   	</div>
    <footer><a href="/">Torna alla HomePage</a></footer>
</body>
</html>