<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="static/css/my-style.css" rel="stylesheet">
	<title>Dettagli chef</title>
</head>
<body>
	<header><h1>Catering Demo</h1></header>
	<br>
    <h2>Scheda chef:</h2>
	<br>
	<div class="scatola">
		<h3>Id:</h3>
		<span th:text="${chef.id}">id</span><br>
		<h3>Nome:</h3>
		<span th:text="${chef.nome}">nome</span><br>
		<h3>Cognome:</h3>
		<span th:text="${chef.cognome}">cognome</span><br>
		<h3>Nazionalità:</h3>
		<span th:text="${chef.nazionalita}">nazionalità</span><br>
		<h3>Buffet preparati:</h3>
		<span>lista dei buffet - not yet implemented</span><br>
   	</div>
    <footer><a href="/">Torna alla HomePage</a></footer>
</body>
</html>