<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="static/css/my-style.css" rel="stylesheet">
	<title>Catering Demo</title>
</head>
<body>
	<header><h1>Catering Demo</h1></header>
	<div>
		<br>
		<h2>Operazioni disponibili:</h2>
		<br>
		<div class="scatola">
			<br>
			<div>
				<a th:href="@{/chefForm}">Inserisci Chef</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a th:href="@{/chefs}">Visualizza Chefs</a>
			</div>
			<br>
			<div>
				<a th:href="@{/buffetForm}">Inserisci Buffet</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a th:href="@{/buffets}">Visualizza Buffets</a>
			</div>
			<br>
			<div>
				<a th:href="@{/ingredienteForm}">Inserisci Ingrediente</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a th:href="@{/ingredienti}">Visualizza Ingredienti</a>
			</div>
			<br>
			<div>
				<a th:href="@{/piattoForm}">Inserisci Piatto</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a th:href="@{/piatti}">Visualizza Piatti</a>
			</div>
			<br>
		</div>
	</div>
</body>