<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="static/css/my-style.css" rel="stylesheet">
	<title>Dettagli piatto</title>
</head>
<body>
	<header><h1>Catering Demo</h1></header>
	<br>
    <h2>Scheda piatto:</h2>
	<br>
	<div class="scatola">
		<h3>Id:</h3>
		<span th:text="${piatto.id}">id</span><br>
		<h3>Nome:</h3>
		<span th:text="${piatto.nome}">nome</span><br>
		<h3>Descrizione:</h3>
		<span th:text="${piatto.descrizione}">descrizione</span><br>
		<h3>Ingredienti:</h3>
		<span>lista degli ingredienti - not yet implemented</span><br>
    </div>
    <footer><a href="/">Torna alla HomePage</a></footer>
</body>
</html>