<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="static/css/my-style.css" rel="stylesheet">
	<title>Modifica piatto</title>
</head>
<body>
	<header><h1>Catering Demo</h1></header>
	<br>
	<br>
    <h2>Piatto da modificare:</h2>
	<div class="scatola">
		<h3>Fail: not yet implemented</h3>
	</div> 
	<br>
	<footer><a th:href="@{/piatti}">Torna all'elenco piatti</a></footer>
	<br>
	<footer><a href="/">Torna alla HomePage</a></footer>
</body>
</html>